.btn {
    display: inline-block;
    padding: 12px 20px;
    font-size: 18px;
    line-height: 20px;
    background-color: #ea1e63;
    color: #fff;
    border-radius: 2px;
    box-shadow: 0px 1px 3px #0004;
    cursor: pointer;

}
    .btn:hover {
        box-shadow: 0px 2px 4px #0009;
    }